<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylu.persistence.MessageDAOMapper">
  <resultMap id="MessageDAOMapper" type="com.ylu.persistence.MessageDAO">
    <id column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="nn" jdbcType="VARCHAR" property="nn" />
    <result column="bnn" jdbcType="VARCHAR" property="bnn" />
    <result column="txt" jdbcType="VARCHAR" property="txt" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="mtime" jdbcType="TIME" property="mtime" />
  </resultMap>

  <sql id="Base_Column_List">
    cid, type, gid, rid, uid, nn, bnn, txt, level, mtime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="MessageDAOMapper">
    select 
    <include refid="Base_Column_List" />
    from danmu_room_1
    where cid = #{cid,jdbcType=VARCHAR}
  </select>
  
    <select id="selectByUid" parameterType="java.lang.String" resultMap="MessageDAOMapper">
    select 
    <include refid="Base_Column_List" />
    from danmu_room_1
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByBnn" parameterType="java.lang.String" resultMap="MessageDAOMapper">
    select 
    <include refid="Base_Column_List" />
    from danmu_room_1
    where bnn = #{bnn,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByLevel" parameterType="java.lang.String" resultMap="MessageDAOMapper">
    select 
    <include refid="Base_Column_List" />
    from danmu_room_1
    where level = #{level,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from danmu_room_1
    where cid = #{cid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylu.persistence.MessageDAO">
    insert into danmu_room_1 (cid, type, gid, 
      rid, uid, nn, bnn, 
      txt, level, mtime)
    values (#{cid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{gid,jdbcType=VARCHAR}, 
      #{rid,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{nn,jdbcType=VARCHAR}, #{bnn,jdbcType=VARCHAR}, 
      #{txt,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{mtime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.ylu.persistence.MessageDAO">
    insert into danmu_room_1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="nn != null">
        nn,
      </if>
      <if test="bnn != null">
        bnn,
      </if>
      <if test="txt != null">
        txt,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="nn != null">
        #{nn,jdbcType=VARCHAR},
      </if>
      <if test="bnn != null">
        #{bnn,jdbcType=VARCHAR},
      </if>
      <if test="txt != null">
        #{txt,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylu.persistence.MessageDAO">
    update danmu_room_1
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="nn != null">
        nn = #{nn,jdbcType=VARCHAR},
      </if>
      <if test="bnn != null">
        bnn = #{bnn,jdbcType=VARCHAR},
      </if>
      <if test="txt != null">
        txt = #{txt,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIME},
      </if>
    </set>
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylu.persistence.MessageDAO">
    update danmu_room_1
    set type = #{type,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      nn = #{nn,jdbcType=VARCHAR},
      bnn = #{bnn,jdbcType=VARCHAR},
      txt = #{txt,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      mtime = #{mtime,jdbcType=TIME}
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="createTable" >
  	CREATE TABLE IF NOT EXISTS danmu_room_1(
	cid varchar(50) NOT NULL,
    type varchar(20),
    gid varchar(20),
    rid varchar(20),
    uid varchar(20),
    nn varchar(20),
    bnn varchar(10),
    txt varchar(100),
    level varchar(10),
    mtime TIME
    )ENGINE=InnoDB DEFAULT CHARSET=utf8;
  </update>
</mapper>